.header{
    height: 70px;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    
    z-index: 10;
    width: 100%;
    background-color: #222222;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    padding-left: 5%;
    padding-right: 6.9%;
    background: #FFFFFF;
}

.nav__list{
    display:none;
    list-style: none;
}

//nav left-items
.nav--left{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

.nav__burguer:hover{
    scale:1.1
}

.nav__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    gap: 13%;
}

.nav__logo:hover{
    cursor: pointer;
}

.nav__logo-H{
    width: 35.96px;
    height: 36px;
    box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
    padding: 12px;
}


.nav__funcionalities{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 30%
}

.nav__burger{
    background-image: url("../../assets/header/burguer-menu.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 13px;
    border: none;
    background-color: #FFFFFF;
}


.nav__burger--close{
    background-image: url("../../assets/header/x.svg");
    background-repeat: no-repeat;
    width: 20px;
height: 15.56px;
border: none;
background-color: transparent;
}

.nav__list--active{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 70px;
    background-color: #FFFFFF;
    left: 0;
    z-index: -1;
    list-style: none;
    padding-top: 2rem;
    padding-left: 5.3%;
    gap: 1.5rem;
    padding-bottom: 1.7rem; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    
}

.nav__link{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #222222;
    text-decoration: none;
   

}

@media (min-width: 1000px) {
    .nav{
        min-width: 1000px;
        width: 80%;
        position: fixed;
        top: 3vh;
        height: 100px;
        justify-content: unset;
        display: grid;
        grid-template-columns: (1fr 3fr 1fr);
        padding: 0;
        
    }
    .header{
        height: 80px;
    }

    .nav__burger{
        display: none;
    }
    .nav__burger--close{
        display: none;
    }
    .nav__list{
        display: flex;
        flex-direction: row;
        gap: 50px
    }
    .nav__funcionalities{
        justify-self: end;
        margin-right: 30%;
    }
    .nav__link{
        font-size: 14px;
    }
    .nav__logo{
        height: 70px;
        margin-left: 20px;
        margin-right: 110px;
    }
    .nav__logo-H{
        min-width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px
    }
    .nav__H{
        width: 25px;
        height: 25px;
    }

    .nav__company{
        height: 30px;
        
    }

    .nav__funcionalities{
        gap: 20px;
    }
    .nav__funcionalities-icon{
        border: 1.5px solid rgba(133, 133, 133, 0.3);
        padding: 8px;
    }
    img.nav__funcionalities-icon{
        width: 35px;
    }
 
}