.handpicked-rooms{
    position: relative;
    top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.handpicked-rooms__pretitle{
    margin-bottom: 1.5rem;

}

.handpicked-rooms__title{
    margin-bottom: 2.75rem;
}


@media (min-width: 1000px) {
    .handpicked-rooms{
        padding-top: 100px;
        z-index: 0;
        padding-bottom: 100px;
    }
    .handpicked-rooms__title{
        margin-bottom: 1.5rem;
    }
}



