.swiper--handpicked-rooms{
    width: 100%;
    justify-content: center;
    z-index: 0;
    display: flex;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide--handpicked-rooms{
    display: flex;
    justify-content: center;
    z-index: 10;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: aqua;
    font-size: 0
}

.swiper--core-features{
    display: flex;
    justify-content: center;
    max-width: 375px;
}

.swiper__core-features--dark{
    max-width: 375px;
}





.swiper--menu{
    max-width: 570px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.swiper-slide--menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%
}

.swiper--menu__photo{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 335px;
}

.swiper--menu__photo-wrapper{
    max-width: 370px;
    max-height: 370px;
    height: auto;
    margin-bottom: 3rem;
}

.swiper-pagination-bullet-active{
    background: #BEAD8E;
    color: #FFFFFF;
}

.swiper__fun-facts__slider{
        display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;
    display: flex;
    max-width: 570px;


  
}

.swiper__rooms{
    max-width: 500px;
    width: 100%;
}


.swiper__rooms-wrapper{
    margin-bottom: 2rem;
}

.swiper__popular-rooms{
    width: 100%;
    max-width: 600px;
    justify-content: center;
    display: flex;
    height: 700px;
    z-index: 0;
    padding-top: 50px;
}


.swiper-slide--popular-rooms{
  width: 100%;
}



@media (min-width: 1000px) {
    .swiper--core-features{
        max-width: 900px;
    }
    .swiper__core-features--dark{
        max-width: 900px;
    }
    .swiper--menu{
        max-width: 900px;
    }
    .swiper--menu__photo{
        max-width: 80%;
    }
    .swiper--menu__photo-wrapper{
       max-width: 1170px;
       width: 100%;
    }
    .swiper__fun-facts__slider{
        min-width: 900px;
    }
    .swiper__rooms{
        max-width: unset;
        width: 1200px;
    }
    .swiper__popular-rooms{
        min-width: 1000px;
       width: fit-content;
        display: flex;
        justify-content: center;
        max-width: unset;
    }
    .swiper-wrapper__popular-rooms{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
    .swiper-slide--popular-rooms{
        max-width: 330px;
    }
}