.menu{
    padding-left: 5.3%;
    padding-right: 5.3%;
    padding-bottom: 5.68rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

}
.menu__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu__text{
    max-width: 570px;
}

.menu__donut{
    position: absolute;
    top: 55px;
    right: -20px;
    height: 115px;
    width: 115px;
}
.menu__pretitle{
    margin-top: 11rem;
    margin-bottom: 1.5rem;
    flex: 1;
}

.menu__title{
    margin-bottom: 2rem;
}

.menu__slider{
    display: flex;
    flex-direction: column;
    max-width: 570px;
    gap: 1rem;
}
.menu__slide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__slide-info{
    width: 60%;
}

.menu__slide-title{
    margin-bottom: 0.75rem;
}



.menu__slide-img{
    width: 120px;
    height: 120px;
    margin-right: 1.875rem;
    background: #DBDBDB;
}

.menu__slide-img--eggs{
    background-image: url("../../../assets/home/menu/eggs.jpeg");
    background-size: cover;
}

.menu__slide-img--tea{
    background-image: url("../../../assets/home/menu/tea.jpeg");
    background-size: cover;
}

.menu__slide-img--oatmeal{
    background-image: url("../../../assets/home/menu/oatmeal.jpeg");
    background-size: cover;
}

.menu__slide-img--fruit{
    background-image: url("../../../assets/home/menu/fruit.jpeg");
    background-size: cover;
}

.menu__slide-img--marmalade{
    background-image: url("../../../assets/home/menu/marmalade.jpeg");
    background-size: cover;
}

.menu__slide-img--cheese{
    background-image: url("../../../assets/home/menu/cheese.jpeg");
    background-size: cover;
}

.menu__buttons{
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 4.5rem ;
}

.menu__button{
    width: 36px;
    height: 36px;
}


.menu__photo-slide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%
}

    .menu__photo-slide--img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    @media (min-width: 1000px) {
        .menu__donut{
            right: unset;
            left: 10%;
            transform: rotate(180deg);
            width: 130px;
            height: 130px;
        }
        .menu__container{
            margin-bottom: 80px;
        }
        .menu__photo-slide{
            max-width: 370px;
        }
    }