.footer{
    background-image: url("../../assets/footer/fondo.svg");
}

.footer__container{

    padding-left: 5.3%;
    padding-right: 5.3%;
    padding-top: 2rem;
    padding-bottom: 2.125rem;
}

.footer__logo{
    margin-bottom: 3rem;
}

.footer__brand-paragraph{
    margin-bottom: 2rem;
    max-width: 500px;
}

.footer__social{
    display: flex;
    flex-direction: row;
    gap: 1.625rem;
    margin-bottom: 2.5rem;
}

.footer__services-title{
    margin-bottom: 1.5rem;
}

.footer__list-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 2rem;
}

.footer__list{
    list-style: none;
}

.footer__contact-title{
    margin-bottom: 2.125rem;
}

.footer__contact-info{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.footer__contact-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.375rem;
}

.footer__legal{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5.3%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: #F8F8F8;
    justify-content: center;
    text-align: start;
}

@media (min-width: 1000px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__container{
        align-self: center;
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4%;
        width: 80%;
        min-width: 950px;
        padding-right: 0;
        padding-left: 0;
        padding-top: 120px;
    }
    .footer__legal{
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: row;
        justify-content: space-between;
    }

}