@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.text__title {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.text__pretitle {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
}

.text__pretitle--small {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.text__paragraph {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.text__subtitle--big {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1.16px;
}

.text__subtitle {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: left;
}

.text__subtitle--small {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
}

.text__subtitle--smaller {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.7200000286px;
  text-align: left;
}

.text__subtitle--super-small {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.text__card-paragraph {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  z-index: 2;
}

.text__card-title {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -1.05px;
}

.text__form {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.54px;
}

.text__form--label {
  font-size: 14px;
  line-height: 15px;
}

.text__footer-paragraph {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}

.text__page-card {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: -0.4799999893px;
  text-align: left;
}

.text__page-card--home:hover {
  scale: 1.1;
  cursor: pointer;
  color: #bead8e;
}

.text__price {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
}

.text__price--small {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 25px;
  text-align: right;
}

.text__price--night {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
}

.text__offer-card {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
}

.text__amenities {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.text__footer-paragraph--bigger {
  line-height: 48px;
}

.text__footer-paragraph--big {
  line-height: 26px;
}

.text__footer-paragraph--small {
  line-height: 20px;
}

.text__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.text--gray {
  color: #777777;
}

.text--lightgray {
  color: #c2c2c2;
}

.text--booking-gray {
  color: #bdbdbd;
}

.text--black {
  color: #111111;
}

.text--lightblack {
  color: #222222;
}

.text--light {
  color: hsl(0, 0%, 100%);
}

.text--gold {
  color: #bead8e;
}

.text--red {
  color: #de5777;
}

.text--center {
  text-align: center;
}

.text--start {
  text-align: start;
}

@media (min-width: 1000px) {
  .text__pretitle {
    font-size: 14px;
  }
  .text__title {
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 90px;
  }
  .text__subtitle--small {
    font-size: 30px;
  }
  .text__subtitle--big {
    font-weight: 400;
    font-size: 40px;
    line-height: 89px;
  }
  .text__offer-card {
    font-size: 75px;
  }
}/*# sourceMappingURL=text.css.map */